/* Colores

$naranja: rgba(197, 145, 95, 1);
$vereClaro: rgba(168, 193, 156, 1);
$verdeOcsuro: rgba(117, 145, 101, 1);
$gris: rgba(151, 148, 141, 1);
$marron: rgba(65, 51, 47, 1);

*/

.cursor {
    width: 50px;
    height: 50px;
    background-image: url('../img/caracol.png');
    background-size: cover;
    background-position: center;
    position: fixed;
    z-index: 1;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: transform 0, 3s ease-out;
    will-change: transform;
}
 
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.snap-x {
    scroll-snap-type: x mandatory;
}
.snap-center {
    scroll-snap-align: center;
}